{:paths ["src" "resources"]
 :deps {io.github.FieryCod/holy-lambda-babashka-tasks
        {:git/url   "https://github.com/FieryCod/holy-lambda"
         :deps/root "./modules/holy-lambda-babashka-tasks"
         :sha       "e6c47274a2bfc7576a9da0ccdbc079c1e83bee17"}
        io.github.FieryCod/holy-lambda {:mvn/version "0.6.2"}
        org.clojure/clojure {:mvn/version "1.11.1"}
        cheshire/cheshire {:mvn/version "5.11.0"}
        vol1n.dynalog/vol1n.dynalog {:git/url "https://github.com/vol1n/dynalog" :git/sha "7fbe561e7f84b2bb70a329162149aa4f01759f9c"} 
        ;vol1n.dynalog/vol1n.dynalog {:local/root "/Users/colinryan/Projects/dynalog"} ;
        com.cognitect.aws/endpoints {:mvn/version "1.1.12.504"}
        com.cognitect.aws/ssm {:mvn/version "871.2.30.11"}
        com.cognitect.aws/dynamodb {:mvn/version "848.2.1413.0"}
        com.grzm/awyeah-api {:git/url "https://github.com/grzm/awyeah-api"
                             :git/sha "e5513349a2fd8a980a62bbe0d45a0d55bfcea141"
                             :git/tag "v0.8.84"}}

 :aliases
 {:dev {:extra-paths ["test"]
        :extra-deps {cider/cider-nrepl {:mvn/version "0.30.0"}
                     refactor-nrepl/refactor-nrepl {:mvn/version "3.9.0"}}}
  :uberjar {:extra-deps {seancorfield/depstar {:mvn/version "2.1.303"}}
            :main-opts ["-m" "hf.depstar.uberjar" "backend.jar"]}
  :lambda {:main-opts ["-m" "workout-demo.lambda"]}}}